.grid {
  box-sizing: border-box;
  border: 1px solid black;
  height: 100%;
  width: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  height: 50px;
}

.off-grid {
  background-color: blue;
}

.piece {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

.red-normal {
 background-color: red;
}

.red-king {
  background-color: darkred;
}

.black-normal {
  background-color: black;
}

.black-king {
  background-color: darkgrey;
}

.selected-grid {
  border: 5px solid chartreuse;
}

.possible-action {
  border: 5px solid aqua;
}

#flipdiv {
    width: 100%;
    height: 100%;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
